---


---

<footer class="footer">
  <div class="container">
      <p>&copy; 2024 Humanistic Quality Managment LLC. All rights reserved.</p>
      <!-- <ul class="footer-links">
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
      </ul> -->
      <!-- <p>Follow us on 
          <a href="https://twitter.com/MPeytonCox">Twitter</a>, 
    
      </p> -->
  </div>
</footer>

<style>
  .footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
    color: aliceblue;
}
a {
  color: #b471db;
  text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-decoration: none;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a {
    text-decoration: none;
    color: #fefefe;
}

.footer-links a:hover {
    text-decoration: underline;
}

</style>